:root {
    padding: 0 2rem;
}

* {
    font-family: "Lucida Console", "Courier New", monospace;
    transition: padding 0.3s ease;
}

body {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

@media (min-width: 576px) {
    :root {
        padding: 0 20%;
    }
}

@media (min-width: 768px) {
    :root {
        padding: 0 35%;
    }
}
