* {
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    margin: 0;
    padding: 4rem;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    align-items: center;
}

